html{
  box-sizing: border-box;
  background: #f0f0f0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: medium;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

.container{
  max-width: 300px;
  padding: 30px;
}

.title{
  font-weight: 800;
  height: fit-content;
  width: fit-content;
}

.search-form{
  padding: 3px;
  display: flex;
}

.user-input{
  margin: 0;
  left: -10%;
  top: 10px;
  border-radius: 2px;
  box-shadow: grey;

}

button{
  background: #636363;
  
  color: white;
}

button:hover {
  color: #636363;
  background-color: white;
}

.errors{
  color: red;
}

.item{
  list-style: none;
}

#display{
  padding-inline-start: 20px;
}

.item a{
  text-decoration: none;
  color:#636363;        
}
a:visited {
  color:#636363;
} 

a:hover {
  color:#636363;
}
   
a:active {
  color:#636363;
}